{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} About {% endblock %}
{% block body_block %}
	
	<div class= "page-header">
		<h1>About</h1>
	</div>
	<!-- <button onClick="alert('You clicked the button using Javascript.')">
		Click Me - I run Javascript
	</button> -->
	<button id="about-btn">This is a example</button>
	<button id="about-btn2">This is another example</button>	

<!-- 	<div>
		<p></strong>.</p>
		<img width="600" height="450" src="{% static 'image/rango.jpg' %}" alt="Picture of Rango" />
	</div>	-->
 {% endblock %}
