{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Search{% endblock %}

{% block body_block %}

    <div class="page-header">
        <h1>Search Category in Project with Rango</h1>
    </div>

    <div class="row">

        <div class="panel panel-primary">
            <br/>

            <form class="form-inline" id="user_form" method="post" action="{% url 'category_search' %}">
                {% csrf_token %}
                <!-- Display the search form elements here -->
                <input class="form-control" type="text" size="50" name="cat" value="" id="cat" />
                <input class="btn btn-primary" type="submit" name="submit" value="Search" />
                <br />
            </form>

            <div class="panel">
                    <div class="panel-heading">
                    <h3 class="panel-title">Results</h3>
                    <div class="panel-body">
                        <div class="list-group">
                            {% for c in category_list %}
                                {% if cat == c.name %}
                                    <div class="list-item">
                                    <h4><a href="/rango/category/{{c.slug}}"> {{ c.name }} </a></h4>
                                </div>
                                {% endif %}                                
                            {% endfor %}
                            </div>
                    </div>
               
                </div>
            </div>
 </div>

{% endblock %}